
.header_fix_logo{
  width:100px;
}
#header_fix{
  display: flex;
  justify-content: space-between;
  padding: 10px 49px;
  background: #fff;
  margin-bottom: 120px;
  box-shadow: 0px 6px #ffffff47;
}

@media(max-width:576px){

  #header_fix{
    padding: 10px 10px;
    background: #fff;
    margin-bottom: 120px;
    box-shadow: 0px 6px #ffffff47;
  }

}
