

.Founders-section-title {
  text-transform: uppercase;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 36px;
}

/*
.bg_founder_1, .bg_founder_2,.bg_founder_3 {
  background-image:url('../../../public/img/name_transparent.png');
  background-size: contain !important;
}
*/

.bg_founder_2 {

  background-image:url('../../../public/img/Zak.png');
}
.bg_founder_3 {
  background-image:url('../../../public/img/faysal.jpg');
}




 .intro {
     font-size: 16px;
     max-width: 500px;
     margin: 0 auto
 }

 .intro p {
     margin-bottom: 0
 }

 .people {
     padding: 50px 0;
     cursor: pointer
 }

 .item {
     margin-bottom: 30px
 }

 .item .box {
   border-radius:15px;
     text-align: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     position: relative;
     height: auto;
    width: 100%;
    aspect-ratio: 1;
     overflow: hidden
 }

 .item .cover {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #00000085;
     transition: opacity 0.15s ease-in;
     opacity: 0;
     padding: 10px;
     color: #fff;
 }

 .item:hover .cover {
     opacity: 1
 }

 .item .name {
     font-weight: bold;
     margin-bottom: 8px
 }

 .item .title {
     text-transform: uppercase;
     font-weight: bold;
     color: #fff;
     letter-spacing: 2px;
     font-size: 13px;
     margin-bottom: 10px;

 }

 .social {
     font-size: 18px
 }

 .social a {
     color: inherit;
     margin: 0 10px;
     display: inline-block;
     opacity: 0.7
 }

 .social a:hover {
     opacity: 1;
     text-decoration: none;
}


